<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h3>Signup to our Website</h3>
    <hr/>
    <form>
    <table>
        <tr> 
            <td> First Name :  <input type="text" name="firstname" placeholder="Enter your first name"/> </td>
        </tr>
        <tr> 
            <td> Last Name :  <input type="text" name="lastname" placeholder="Enter your last name"/> </td>
        </tr>
        <tr> 
            <td> Date of Birth :  <input type="date" name="dob"/> </td>
        </tr>
        <tr> 
        <td> Email :  <input type="email" name="email" placeholder="Enter your email id"/> </td>
        </tr>

        <tr>
        <td> Password :  <input type="password" name="passwd" placeholder="Enter your password"/> </td>
        </tr>
        <tr>
        <td colspan="2"> <input type='submit' name="submitbtn"/> </td>
        </tr>
    </table>

</form>
</body>
</html>
